/* .colorPickerTabs {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
  } */

/* .colorTabs {
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    color: white;
    background-color: #007bff;
  } */

.gradient-border {
  padding: 10px; /* Adjusts the distance between the SVG and its border */
  background: linear-gradient(
    60deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #7fff00,
    #00ff00,
    #00ff7f,
    #00ffff,
    #007fff,
    #0000ff,
    #7f00ff,
    #ff00ff,
    #ff007f
  );
  -webkit-background-clip: padding-box; /* For WebKit browsers */
  background-clip: padding-box; /* For Firefox 4+, IE 9+, and Opera */
  border: solid 5px transparent; /* Makes the gradient visible as a border */
  border-radius: 100px; /* Optional: Rounds the corners of the border */
  display: inline-block; /* Adjusts the div's size to that of the SVG */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#colorCanvas {
  width: 100%;
  height: 125px;
  border-radius: 10px;
  border: 1px solid lightgray;
  /* background-color: white; */
}

.body.dark-mode #colorCanvas {
  border: 1px solid #738496;
}

.colorCanvas404 {
  display: none;
  margin: 0;
  color: red;
  font-size: 12px;
  font-weight: 500;
}

.colorTabRecent,
.colorTabFavorite {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 8px;
  background-color: #f1f1f1;
}

.colorTabRecent:hover,
.colorTabFavorite:hover {
  border: none;
  border: 1px solid lightgray;
  /* box-shadow: 0px 0px 1px black; */
  transform: scale(1.13);
}

.selected-for-deletion {
  outline: 2px solid red;
}

#hueRange {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin: 6px 0px;
  background-image: linear-gradient(
    to right,
    red,
    #ff0,
    lime,
    cyan,
    blue,
    magenta,
    red
  );
  outline: none;
}

#hueRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 1;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px black;
}

#hueRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

#alphaRange {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  background-repeat: repeat;
  outline: none;
}

.alphaRangeContainer{
  position: relative;
  margin: 6px 0px;
}

.alphaRangeBackground{
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
  linear-gradient(-45deg, #808080 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #808080 75%),
  linear-gradient(-45deg, transparent 75%, #808080 75%);
background-size: 10px 10px;
background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
}

#alphaRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 1;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px black;
}

#alphaRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

.colorType {
  padding: 5.5px 14px;
  border: 1px solid lightgray;
  /* border-radius: 8px; */
  font-size: 13px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.colorType:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.colorType:nth-child(2) {
  border-left: none;
}

.colorType:nth-child(3) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
}

.body.dark-mode .colorType {
  border: 1px solid #738496;
  color: white;
}

.activeType {
  background-color: #007bff;
  padding: 5.5px 14px;
  /* border-radius: 8px; */
  color: white;
}
.colorTopSection {
  display: flex;
  margin-top: 8px;
  /* border-bottom: 1px solid #f1f1f1; */
  padding-bottom: 12px;
  align-items: flex-end;
}
.body.dark-mode .colorTopSection {
  /* border-bottom: 1px solid #738496; */
}

#pickColor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 48px;
  height: 40px;
  border: 1px solid lightgray;
  min-width: 80px;
  max-width: 36px;
  cursor: pointer;
}

.body.dark-mode #pickColor {
  border: 1px solid #738496;
}

.body.dark-mode #pickColor img {
  filter: invert(1);
}

#selectedColor {
  display: block;
  width: 62px;
  height: 40px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: rgb(0, 0, 0);
  min-width: 80px;
  max-width: 36px;
  border: 1px solid lightgray;
  margin-left: 8px;
}

.body.dark-mode #selectedColor {
  border: 1px solid #738496;
}

.colorRangeInputsContainer {
  width: 100%;
  margin-left: 12px;
  max-width: 208px;
}

.sectionColorType {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 14px;
  padding-top: 8px;
  font-weight: 500;
  border-top: 1px solid #f1f1f1;
}

.body.dark-mode .sectionColorType {
  border-top: 1px solid #738496;
}

.body.dark-mode .sectionColorType {
  border-top: 1px solid #738496;
}

.deleteRecentContainer,
.deleteContainer {
  /* display: flex; */
  display: none;
  border-left: 1px solid lightgrey;
}

.deleteRecentContainer div,
.deleteContainer div {
  font-size: 12.5px;
  font-weight: 500;
  color: gray;
  padding: 0 6px;
}

.selectRecentColor,
.selectFavColor {
  font-size: 12.5px;
  font-weight: 500;
  color: #007bff;
  margin-left: auto;
  padding-right: 6px;
  cursor: pointer;
}

#resetRecent,
#resetFav {
  font-size: 12.5px;
  font-weight: 500;
  color: gray;
}

.colorMidSecton {
  /* margin-top: 12px; */
}

.colorTypeTabs {
  /* width: 100%; */
  grid-column: 1 / 2;
  padding: 9px 14px;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  height: 38px;

  background: #007bff;
  color: white;
  border: unset;

}

#colorValue {
  width: 100%;
  grid-column: 2/5;
  padding: 9px 14px;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 8px;
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  text-align: center;
  height: 38px;
}

.body.dark-mode #colorValue {
  border: 1px solid #738496;
  background-color: #22272b;
  color: white;
}

#copyColorInput {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 6px;
  min-width: 40px;
  height: 38px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.body.dark-mode #copyColorInput {
  border: 1px solid #738496;
}

.body.dark-mode #copyColorInput img {
  filter: invert(1);
  
}

#star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  min-width: 40px;
  height: 38px;
  border-bottom: 1px solid #007bff;
  border-top: 1px solid #007bff;
  border-right: 1px solid #007bff;
  border-left: 1px solid #007bff;
  cursor: pointer;
}

.body.dark-mode #star img {
  filter: invert(1);
}

.colorsContainer {
  display: flex;
  gap: 8px;
  row-gap: 6px;
  flex-wrap: wrap;
  padding-top: 8px;
}
