.versionBtn {
  min-width: 30px ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  height: 35px;
  color: #6467f2;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid lightgray;
}

.colorBox{
  min-width: 35px;
  height: 35px; 
  border-radius: 10px;
  border: 1px solid lightgray;
}

.fontBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#htmlTag {
  color: rgb(33, 39, 42);
  font-size: 17px;
  margin-top: 8px;
}

.body.dark-mode #htmlTag {
  color: white;
  border-bottom: 1px solid #738496;
}

.copyCSSInput{
  border-radius: 10px;
  border: 1px solid #6467f2;
  background: white;
  padding: 12px 16px;
  color: #6467f2;
  cursor: pointer;
  width: 90%;
  font-weight: 500;
  text-align: center;
}

body.dark-mode .copyCSSInput  {
  background: #1d2125;
}

.fontFamilyContainer{
  padding-bottom: 12px; 
  border-bottom: 1px solid lightgrey;
}

.body.dark-mode .fontFamilyContainer {
  border-bottom: 1px solid #738496;
}

.fontFamilyContainerFont{
  padding-bottom: 12px; 
}

#fontFamily {
  color: rgb(33, 39, 42);
  font-size: 15px;
  margin-top: 6px;
}

.body.dark-mode #fontFamily {
  color: white;
}

.labelInput {
  color: rgb(17, 24, 39);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
}

.typolabel {
  color: #71717a;
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}


.body.dark-mode .typolabel {
  color: lightgray;
}

.fontInputBox {
  display: flex;
  gap: 6px;
  flex-direction: row;
  align-items: center;
}

.inputContainer {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  max-height: 36px;
  min-height: 36px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.body.dark-mode .inputContainer {
  background-color: #22272b;
  color: white;
}

.inputRounded {
  border-radius: 8px;
}

.saveResetTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  gap: 8px;
  border-top: 1px solid #e4e4e7;
  padding-top: 12px;
}

.reset {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border: 1px solid #e4e4e7;
  padding: 12px 16px;
  background-color: #fff;
  border-radius: 10px;
}

#activateButton {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background-color: #6467f2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

#activateButton {
  /* margin-left: auto; */
}

.loremTopContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6px;
  margin-top: 12px;
  gap: 8px;
}

#max_limit_typography {
  color: red;
  font-weight: 500;
}

.loremInput {
  padding: 11px 16px;
  flex: 1;
  border-radius: 10px;
  border: none;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 16px;
}

.body.dark-mode .loremInput {
  background-color: #22272b;
  color: white;
}

#loremCopyBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  background-color: #6467f2e6;
  color: white;
  cursor: pointer;
}

#loremCopyBtn img {
  filter: brightness(0) invert(1);
}

.copyButtonAnimation {
  background-color: white !important;
  color: #6467f2 !important;
  border: 1px solid #6467f2 !important;
}

.loremTypeContainer {
  display: flex;
  gap: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e4e4e7;
}


.paragraphs,
.words,
.bytes,
.lists,
.start {
  border: none;
  padding: 8px 12px;
  background: transparent;
  color: 020817;
  background: #fff;
  border-radius: 10px;
  width: 25%;
  font-size: 12px;
  border: 1px solid #e4e4e7;
  cursor: pointer;
}


.loremTypeSelected {
  color: white;
  background: #6467f2;
  font-size: 14px;
}

#loremArea {
  resize: none;
  border: 1px solid lightgray;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
  color: #020817;
  border-radius: 10px;
  padding: 8px;
  width: 100%;
}

.body.dark-mode #loremArea {
  background-color: #1d2125;
  color: white;
}

.loremMidmSection {
  position: relative;
  margin-top: 6px;
  margin-bottom: 9px;
}

.loremBottomArea{
  padding-top: 12px;
  margin-top: 12px;
    text-align: center;
color: #71717a;
font-size: 12px;
border-top: 1px solid #e4e4e7;
}

body.dark-mode .loremBottomArea{
  background-color: #282e33;
}


body.dark-mode  .loremBottomArea span {
  color: white;
}

.loremBottomArea span:last-child {
  border-right: none;
}


.howToUse{
  display: flex;
  gap: 4px;
  margin-top: 12px;
  /* margin:  0 16px; */
  background-color: #fff;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #e4e4e7;
  /* margin-bottom: 12px; */
}

.howToUse p{
  font-size: 12px;
  margin: 0;
  color: #020817;
}

.howToUse svg{
  flex: none;
  color: #6467f2;
}