.versionBtn {
  min-width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  height: 35px;
  color: var(--color-btn-primary);
  border: 1px solid var(--color-border-light);
  border-radius: 10px;
  background-color: var(--color-card-light);
}

.body.dark-mode .versionBtn {
  background-color: var(--color-card-dark);
  border-color: var(--color-card-dark);
}

.colorBox {
  min-width: 35px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid var(--color-border-light);
}

.body.dark-mode .colorBox {
  border-color: var(--color-border-dark);
}

.fontBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#htmlTag {
  color: #21272a;
  font-size: 17px;
  margin-top: 8px;
}

.body.dark-mode #htmlTag {
  color: var(--color-text-dark);
  border-bottom: 1px solid var(--color-border-dark);
}

.copyCSSInput {
  border-radius: 10px;
  border: 1px solid var(--color-btn-primary);
  background: var(--color-card-light);
  padding: 12px 16px;
  color: var(--color-btn-primary);
  cursor: pointer;
  width: 90%;
  font-weight: 500;
  text-align: center;
}

body.dark-mode .copyCSSInput {
  background: var(--color-background-dark);
}

.fontFamilyContainer {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-border-light);
}

.body.dark-mode .fontFamilyContainer {
  border-bottom: 1px solid var(--color-border-dark);
}

.fontFamilyContainerFont {
  padding-bottom: 12px;
}

#fontFamily {
  color: #21272a;
  font-size: 15px;
  margin-top: 6px;
}

.body.dark-mode #fontFamily {
  color: var(--color-text-dark);
}

.labelInput {
  color: #111827;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.typolabel {
  color: var(--color-subtitle);
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.body.dark-mode .typolabel {
  color: #94a3b8;
}

.fontInputBox {
  display: flex;
  gap: 6px;
  flex-direction: row;
  align-items: center;
}

.inputContainer {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  max-height: 36px;
  min-height: 36px;
  box-sizing: border-box;
  border: 1px solid var(--color-border-light);
  border-radius: 10px;
}

.body.dark-mode .inputContainer {
  background-color: var(--color-background-dark);
  border-color: var(--color-card-dark);
  color: var(--color-text-dark);
}

.inputRounded {
  border-radius: 8px;
}

.saveResetTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  gap: 8px;
  border-top: 1px solid #e4e4e7;
  padding-top: 12px;
}

.body.dark-mode .saveResetTab {
  border-color: var(--color-card-dark);
}

.reset {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border: 1px solid #e4e4e7;
  padding: 12px 16px;
  background-color: var(--color-card-light);
  border-radius: 10px;
}

.body.dark-mode .reset {
  background-color: var(--color-background-dark);
  border-color: var(--color-card-dark);
}

#activateButton {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--color-btn-primary);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.loremTopContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6px;
  margin-top: 12px;
  gap: 8px;
}

.includeLinkCheckbox {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
  margin-top: 2px;
  border-bottom: 1px solid #e4e4e7;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.body.dark-mode .includeLinkCheckbox {
  border-color: var(--color-card-dark);
}

#max_limit_typography {
  color: red;
  font-weight: 500;
}

.loremInput {
  padding: 11px 16px;
  flex: 1;
  border-radius: 10px;
  border: 1px solid var(--color-border-light);
  text-align: center;
  font-size: 16px;
}

.body.dark-mode .loremInput {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
  border-color: var(--color-card-dark);
}

#loremCopyBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  background-color: #6467f2e6;
  color: white;
  cursor: pointer;
}

#loremCopyBtn img {
  filter: brightness(0) invert(1);
}

.copyButtonAnimation {
  background-color: var(--color-card-light) !important;
  color: var(--color-btn-primary) !important;
  border: 1px solid var(--color-btn-primary) !important;
}

.loremTypeContainer {
  display: flex;
  gap: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e4e4e7;
}

.body.dark-mode .loremTypeContainer {
  border-color: var(--color-card-dark);
}

.loremTypeContainer button {
  border: 1px solid #e4e4e7;
  padding: 8px 12px;
  background: var(--color-card-light);
  color: var(--color-text-light);
  border-radius: 10px;
  width: 25%;
  font-size: 12px;
  cursor: pointer;
}

.body.dark-mode .loremTypeContainer button {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
  border-color: var(--color-card-dark);
}

.loremTypeSelected {
  color: white !important;
  background: var(--color-btn-primary) !important;
  font-size: 14px !important;
}

#loremArea {
  resize: none;
  border: 1px solid var(--color-border-light);
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
  color: var(--color-text-light);
  border-radius: 10px;
  padding: 8px;
  width: 100%;
}

.body.dark-mode #loremArea {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
  border-color: var(--color-card-dark);
}

.loremMidmSection {
  position: relative;
  margin-top: 6px;
  margin-bottom: 9px;
}

.loremBottomArea {
  padding-top: 12px;
  margin-top: 12px;
  text-align: center;
  color: var(--color-subtitle);
  font-size: 12px;
  border-top: 1px solid #e4e4e7;
}

body.dark-mode .loremBottomArea {
  border-color: var(--color-card-dark);
}

body.dark-mode .loremBottomArea span {
  color: #94a3b8;
}

.loremBottomArea span:last-child {
  border-right: none;
}

.howToUse {
  display: flex;
  gap: 16px;
  margin-top: 12px;
  background-color: var(--color-card-light);
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #e4e4e7;
}

body.dark-mode .howToUse {
  border-color: var(--color-card-dark);
  background-color: var(--color-card-dark);
}

.howToUse p {
  font-size: 12px;
  margin: 0;
  color: var(--color-text-light);
}

body.dark-mode p {
  color: var(--color-text-dark);
}

.howToUse svg {
  flex: none;
  color: var(--color-btn-primary);
}