.colorPickerBody {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 450px;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.section {
  display: none;
}

#errorMessage {
  /* position: absolute; */
  /* background-color: #ffffffb0; */
  top: 0;
  right: 0;
  left: 0;
  /* bottom: 0; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  backdrop-filter: blur(2px);
  display: none;
}

.landingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.tabLanding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/3;
  /* background-color: grey; */
  padding: 16px;
  border-bottom: 1px solid lightgray;
  gap: 16px;
}

.sectionType {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: 18px;
  font-weight: 600;
  min-height: 180px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.sectionType:nth-child(n + 2) {
  border-right: 1px solid lightgray;
}

/* .sectionType:nth-child(4) {
  border-right: 1px solid lightgray;
}

.sectionType:not(:nth-last-child(n + 3)) {
  border-top: 1px solid lightgray;
} */

.sectionType img {
  width: 75px;
  height: 75px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
  /* padding: 12px 16px; */
  /* padding-right: 16px; */
  background: #f5f5f5;
  border: 1px solid #ececec;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.header span {
  display: inline-block;
  margin-right: 10px;
  margin-left: 8px;
  max-width: 90px;
  min-width: 90px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header svg {
  width: 28px;
  height: 40px;
  padding: 8px;
}

.goBack {
  /* margin-left: 16px; */
  /* margin-right: 8px; */
}

.ref {
  display: flex;
  /* gap: 16px; */
  margin-left: auto;
}

.ref div {
  font-size: 12px;
  align-self: center;
  padding: 13px;
  border-left: 1px solid lightgrey;
  color: gray;
}

/* 
.header.active svg {
  transform: rotate(-180deg);
} */

.content {
  display: none;
  position: relative;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.colorPickerTabs {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.colorTabs {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: #007bff;
}

.gradient-border {
  padding: 10px; /* Adjusts the distance between the SVG and its border */
  background: linear-gradient(
    60deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #7fff00,
    #00ff00,
    #00ff7f,
    #00ffff,
    #007fff,
    #0000ff,
    #7f00ff,
    #ff00ff,
    #ff007f
  );
  -webkit-background-clip: padding-box; /* For WebKit browsers */
  background-clip: padding-box; /* For Firefox 4+, IE 9+, and Opera */
  border: solid 5px transparent; /* Makes the gradient visible as a border */
  border-radius: 100px; /* Optional: Rounds the corners of the border */
  display: inline-block; /* Adjusts the div's size to that of the SVG */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#colorCanvas {
  width: 100%;
  height: 140px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.colorTabRecent,
.colorTabFavorite {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 8px;
  background-color: #f1f1f1;
}

.colorTabRecent:hover,
.colorTabFavorite:hover {
  border: none;
  border: 1px solid lightgray;
  /* box-shadow: 0px 0px 1px black; */
  transform: scale(1.13);
}

.selected-for-deletion {
  outline: 2px solid red;
}

#hueRange {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin: 6px 0px;
  background-image: linear-gradient(
    to right,
    red,
    #ff0,
    lime,
    cyan,
    blue,
    magenta,
    red
  );
  outline: none;
}

#hueRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 1;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px black;
}

#hueRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

#alphaRange {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin: 6px 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAIklEQVQYV2NkIBIwEqmOgYGBYjBmBmObAwMD6QcGBgYGhv8AAJ0mCCFkRbJhAAAAAElFTkSuQmCC);
  background-repeat: repeat;
  outline: none;
}

#alphaRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 1;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px black;
}

#alphaRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

.colorType {
  padding: 4px 14px;
  border: 1px solid lightgray;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

.activeType {
  background-color: #007bff;
  padding: 4px 14px;
  border-radius: 8px;
  color: white;
}
.colorTopSection {
  display: flex;
  margin-top: 8px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 12px;
  align-items: flex-end;
}

#pickColor {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 48px;
  height: 40px;
  border: 1px solid lightgray;
  min-width: 80px;
  max-width: 36px;
  cursor: pointer;
}

#selectedColor {
  display: block;
  width: 62px;
  height: 40px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: rgb(0, 0, 0);
  min-width: 80px;
  max-width: 36px;
  border: 1px solid lightgray;
  margin-left: 8px;
}

.colorRangeInputsContainer {
  width: 100%;
  margin-left: 12px;
  max-width: 208px;
}

.sectionColorType {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 14px;
  padding-top: 8px;
  font-weight: 600;
  border-top: 1px solid #f1f1f1;
}

.deleteRecentContainer,
.deleteContainer {
  /* display: flex; */
  display: none;
  border-left: 1px solid lightgrey;
}

.deleteRecentContainer div,
.deleteContainer div {
  font-size: 12.5px;
  font-weight: 500;
  color: gray;
  padding: 0 6px;
}

.selectRecentColor,
.selectFavColor {
  font-size: 12.5px;
  font-weight: 500;
  color: #007bff;
  margin-left: auto;
  padding-right: 6px;
  /* margin-right: 4px; */
  /* border-right: 1px solid lightgrey; */
  cursor: pointer;
}

#resetRecent,
#resetFav {
  font-size: 12.5px;
  font-weight: 500;
  color: gray;
}

.colorMidSecton {
  margin-top: 12px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.colorTypeTabs {
  display: flex;
  align-items: center;
  gap: 16px;
  color: rgb(17, 24, 39);
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-right: 6px;
  margin-bottom: 16px;
}

#colorValue {
  width: 100%;
  padding: 9px 14px;
  font-size: 13.5px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#copyColorInput {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 45px;
  height: 35px;
  border: 1px solid lightgray;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  cursor: pointer;
}

#star {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 45px;
  height: 35px;
  border: 1px solid lightgray;
  margin-left: 8px;
  cursor: pointer;
}

.colorsContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding-top: 8px;
}

.versionBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  height: 35px;
  color: #007bff;
  border: none;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border: 1px solid lightgray;
  border-left: none;
  border-bottom-left-radius: 0px;
}

.versionsContainer {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  line-height: 24px;
  border: 1px solid black;
}

.fontBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#htmlTag {
  color: rgb(33, 39, 42);
  font-size: 17px;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgrey;
}

#fontFamily {
  color: rgb(33, 39, 42);
  font-size: 16px;
  margin-top: 6px;
}

.labelInput {
  color: rgb(17, 24, 39);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
}

.typolabel {
  display: block;
  font-size: 13px;
  margin-bottom: 4px;
}

.fontInputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputContainer {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  max-height: 36px;
  min-height: 36px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inputRounded {
  border-radius: 8px;
}

.saveResetTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.reset {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

#activateButton {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#activateButton {
  /* margin-right: 12px; */
  margin-left: auto;
}

.loremTopContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-bottom: 6px;
  gap: 8px;
}

#max_limit_typography {
  color: red;
  font-weight: 500;
}

.loremInput {
  padding: 12px 16px;
  flex: 1;
  border-radius: 10px;
  border: none;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 14px;
}

#loremCopyBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  /* border: 1px solid black; */
  text-align: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#loremCopyBtn img {
  filter: brightness(0) invert(1);
}

.copyButtonAnimation {
  background-color: white !important;
  color: #007bff !important;
  border: 1px solid #007bff !important;
}

.loremTypeContainer {
  display: flex;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 12px;
}

.paragraphs,
.words,
.bytes,
.lists,
.start {
  border: none;
  padding: 8px 12px;
  background: transparent;
  color: gray;
  border-radius: 6px;
  width: 25%;
  font-size: 14px;
  cursor: pointer;
}

.loremTypeSelected {
  color: white;
  background: #4083f1;
  font-size: 15px;
}

#loremArea {
  resize: none;
  border: 1px solid lightgray;
  min-height: 230px;
  font-size: 12px;
  border-radius: 8px;
  padding: 6px 8px;
  padding-bottom: 40px;
  width: 100%;
}

.loremMidmSection {
  position: relative;
  margin-top: 6px;
}

.loremBottomArea {
  position: absolute;
  bottom: 4px;
  padding: 6px 12px;
  right: 1px;
  background: #f5f5f5;
  width: calc(100% - 2px);
  text-align: end;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loremBottomArea span {
  border-right: 1px solid lightgrey;
  padding: 0 6px;
}

.loremBottomArea span:last-child {
  border-right: none;
}

#characterLorem {
  margin-left: auto;
}

.scrollTop {
  background-color: #007bff;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.scrollTopSvg {
  transform: rotate(90deg);
}

/* .preview-container {
  margin: 10px 0;
} */

.preview {
  max-width: 100%;
  max-height: 150px;
}

.imageTabs {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.imageTab {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  color: gray;
  background-color: white;
  border: 1px solid lightgrey;
}

.imageTabActive {
  color: white;
  background-color: #007bff;
}

.imageInput {
  display: none;
}

.addImage {
  border: 2px dashed lightgray;
  border-radius: 8px;
  text-align: center;
  padding: 24px;
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  gap: 8px;
  min-height: 180px;
  color: gray;
}

.addImage:hover {
  background-color: #f3f7fd;
  border: 2px dashed #326efe;
}

.addImage:hover button {
  background: #007bff;
  color: #fff;
}

.imageInfoContainer {
  display: none;
  gap: 16px;
  /* background-color: lightgray; */
  width: 100%;
  padding: 8px 0px;
  margin-top: auto;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.fileSelectImage {
  margin-top: 12px;
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 13px;
}

.infoImageText {
  padding: 8px 0px;
  padding-bottom: 12px;
  color: gray;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.imageWidthHeightContainer {
  display: flex;
  margin-top: 14px;
  gap: 12px;
}

.imageInputLabel {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.imageInputLabel span {
  font-size: 10px;
  align-content: flex-end;
}

.label {
  font-size: 13px;
  font-weight: 400;
  /* padding-bottom: 4px; */
  display: block;
}

.imageWidthHeightContainer div input {
  width: 100%;
  padding: 9px 14px;
  font-size: 13.5px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.imageWidthHeightContainer div input:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
}

.imageWidthHeightContainer div input:first-child + input:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
}

#resize-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  background-color: white;
  border: none;
  text-align: start;
  font-size: 14px;
  font-weight: 500;
}

#download-button {
  margin-top: 12px;
  border: none;
  padding: 12px 16px;
  border-radius: 11px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: #4083f1;
}

.Imagecanvas {
  display: none;
}

/* ////// */

.addImage {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.addImage.dragover {
  border-color: #000;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 180px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.fileName {
  width: 100%;
  padding: 9px 14px;
  font-size: 13.5px;
  box-sizing: border-box;
  border: transparent;
  border-bottom: 1px solid lightgray;
}

.cancelButton {
  padding: 6px 14px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.cancelButton:hover {
  background-color: #ff1a1a;
}

.progressBar {
  width: 100%;
  height: 8px;
}

.imageFormatContainer {
  margin-top: 18px;
}

.inputContainerFormat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding: 5px;
  font-size: 14px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-top: 4px;
  gap: 4px;
}

.inputContainerFormat button {
  border: none;
  padding: 8px 12px;
  background: transparent;
  color: gray;
  border-radius: 6px;
  /* width: 25%; */
  font-size: 14px;
}

.linkContainerStyle {
  background: #fefefe;
  border: 1px solid lightgray;
  border-radius: 6px;
  height: 35px;
  width: 35px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}



#texttArea {
  resize: none;
  border: 1px solid lightgray;
  min-height: 230px;
  font-size: 12px;
  border-radius: 8px;
  padding: 6px 8px;
  padding-bottom: 40px;
  width: 100%;
}

.textTransformerArea {
  position: absolute;
  bottom: 4px;
  padding: 6px 12px;
  right: 1px;
  background: #f5f5f5;
  width: calc(100% - 2px);
  text-align: end;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textTransformerArea span {
  border-right: 1px solid lightgrey;
  padding: 0 6px;
}

.textTransformerArea span:last-child {
  border-right: none;
}

.scrollTopTextt {
  background-color: #007bff;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: auto;
  cursor: pointer;
}

.scrollTopSvgTextt {
  transform: rotate(90deg);
}

.textTransformerActions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5px;
  font-size: 14px;
  /* background-color: #f5f5f5; */
  border-radius: 8px;
  margin-bottom: 6px;
  gap: 8px;
}

.textTransformerActions button {
  background: transparent;
  color: gray;
  font-size: 14px;
  border-radius: 6px;
  /* width: 25%; */
  border: 1px solid gray;
  padding: 8px 12px;
  cursor: pointer;
}

.textTransformerBottom {
  display: flex;
  border-top: 1px solid lightgray;
  padding-top: 6px;
  gap: 4px;
}

.textActionActive {
  color: white !important;
  background: #4083f1 !important;
  font-size: 15px !important;
  border: none !important;
}

.textTransformerBottom button {
  border-radius: 8px;
  border: 1px solid #007bff;
  background: white;
  padding: 10px 12px;
  color: #007bff;
  cursor: pointer;
}

.undo,
.redo {
  border: 1px solid #007bff !important;
  background-color: transparent;
  border: none;
  min-height: 32px;
  min-width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: white;
}

.undo svg,
.redo svg {
  fill: #007bff;
  width: 14px;
  height: 14px;
}

.ttDownload {
  margin-left: auto;
}

.ttClear {
  background-color: #007bff !important;
  color: white !important;
}
